.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  from,
  25%,
  35%,
  45%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -webkit-transform: translate3d(-2000px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(-2000px, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  25% {
    -webkit-transform: translate3d(75px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(75px, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  35% {
    -webkit-transform: translate3d(-25px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(-25px, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  45% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  55% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes bounceInLeft {
  from,
  25%,
  35%,
  45%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    -webkit-transform: translate3d(-2000px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(-2000px, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  25% {
    -webkit-transform: translate3d(75px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(75px, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  35% {
    -webkit-transform: translate3d(-25px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(-25px, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  45% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  55% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(0, 0, 0) scale3d(0.5, 0.5, 0.5);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.open-btn {
  cursor: default;
}

.animated .open-btn {
  cursor: pointer;
}

.animation-block.hide {
  display: none !important;
}
